/****************************************************
FONTS 
****************************************************/

@font-face {
	font-family: 'Toucon';
	src: url('../../fonts/Toucon__.ttf') format('opentype');
}

@font-face {
	font-family: 'Geo Sans';
	src: url('../../fonts/GeosansLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Pacifico';
	src: url('../../fonts/Pacifico.ttf') format('truetype');
}

/***********
CLEARFIX
***********/
.group:after {
  content: "";
  display: table;
  clear: both;
}

/****************
INTITIALIZE
*******************/
*{
	margin: 0;
	padding: 0;
}

body {
	background: url('../../images/backgrounds/oldmap1.jpg');
	background-size: cover;
	background-position: center;	
}

/*****************************************************************************************************************************
HEADER/NAV
*******************************************************************************************************************************/
/*=======================================
HEADER/NAV LAYOUT
========================================*/
header {
	position: fixed;
	top: 0;
	height: 105px;
	min-width: 100%;
	z-index: 1;
}

header img {
	float: left;
	height: 100%;
}
.navWrapper {
	float: right;
	padding-top: 30px;
	margin-right: 20px;

}
nav li {
	display: inline-block;
	padding-left: 20px;
	position: relative;
}
nav ul ul {
	position: absolute;
	margin-top: 5px;
	display: none;
}

nav ul ul li {
	width: 150px;
	height: 30px;
	padding: 0;
	margin: 0;
}

nav ul ul li {
	text-align: center;
	line-height: 30px;
}

nav ul li:hover ul {
	display: block;
}


.spacer{
	margin-top: 105px;
}
/*======================================================================
HEADER/NAV STYLING
===========================================================================*/
header {
	font-family: Toucon;
}
nav ul li a{
	text-decoration: none;
	color: #A4E666;
	font-size: 24px;
}

.level1:hover {
	border-bottom: medium solid #31B96E;
	transition: 0.3s ease;
	
}

nav ul ul li {
	background-color: #31B96E;
	border: 1px solid black;
	border-radius: 5px;

}

nav ul ul li a{
	font-size: 18px;
	color: white;
	font-weight: bold;
}

.normal {

}
.scrolled{
	border-bottom: thin solid #31B96E;
	background-color: rgba(255,255,255, 0.95);
	transition: background-color 150ms linear;


}

.scrolled nav ul ul li {
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;

}
.scrolled a {
	color: #5C7B00;	

}


nav ul li a{
	font-size: 24px;
	text-decoration: none;
	color: #A4E666;
}

nav ul li a:hover {
	border-bottom: medium solid #31B96E;
	transition: 0.3s ease;
	
}

/*****************************************************************************************************************************
STORY
*******************************************************************************************************************************/
/*=================================================================
STORY LAYOUT
===================================================================*/
.storySection {
	width: 100%;
	height: 1200px;
}
.doucheText {
	width: 100%;
	height: 700px;

}
#text1 {

}
#text2 {
	background: url('../../images/backgrounds/oldmap2.jpg');
	background-size: cover;	
}
#text3 {
	background: url('../../images/backgrounds/oldmap3.jpg');
	background-size: cover;	
}
.quotePic {
	position: relative;
	height: 500px;
}
.quotePic img{
	width: 100%;
	height: 100%;
}

.picOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(92,123,0,0.5);

}

.doucheText {
	text-align: center;
	line-height: 100px;
	font-size: 4em;
	padding-top: 200px;
	font-family: Geo Sans;
	font-weight: bolder;
	color: #0013B2;
}
/*=================================================================
STORY STYLING
===================================================================*/
.picOverlay {
	background-color: rgba(92,123,0,0.5);
}

.picOverlay p {
	font-family: Pacifico;
	color: white;
	font-size: 4em;
	text-align: center;
	padding-top: 25px;
}

